#!/usr/bin/env bash

# {{ ansible_managed }}

{% for item in systemd_netdevs %}
if [[ -f "/etc/systemd/network/{{ loop.index }}-{{ item.NetDev.Name }}.netdev" ]]; then
  rm -f "/etc/systemd/network/{{ loop.index }}-{{ item.NetDev.Name }}.netdev"
fi
{% endfor %}

{% for item in systemd_networks %}
if [[ -f "/etc/systemd/network/{{ loop.index }}-{{ item.interface }}.network" ]]; then
  rm -f "/etc/systemd/network/{{ loop.index }}-{{ item.interface }}.network"
fi
{% endfor %}
